body{
  background-color: hsl(217, 54%, 11%);

}
.card{
  background-color: hsl(216, 50%, 16%);
  width: 400px;
  height: 700px;
  border-radius: 10px;
  margin: auto;


}
.main-image{
border-radius: 10px;
width: 85%;
margin-left:30px;
margin-top: 30px;
margin-right: 35px;
}

.wrapper {
  display:grid;
  grid-template-columns: 60% 40%;
  margin-left:30px;
  padding-bottom: 25px;
}

.wrapper2 {
  display:grid;
  grid-template-columns: 30% 70%;
  margin-left:30px;

}

.avatar-image{
width: 15%;
float: left;
margin-right: 10px;
margin-left: 30px;
border-radius: 100%;
border: 1px solid hsl(0, 0%, 100%);
}
.details{
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  color: hsl(215, 51%, 70%);
  margin-left:30px;
}
.title{
  color: hsl(0, 0%, 100%);
  font-family: 'Outfit', sans-serif;
  font-size: 35px;
  margin-left:30px;
}
.ether{
  color: hsl(178, 100%, 50%);
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
}

.timer{
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
}
.name{
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
}

.line{
  margin-bottom: 20px;
  width:85%;
  border-width: 0.3px 0.3px 0.3px 0.3px;
  border-color: hsl(215, 51%, 70%);
}
.foot{
  color:hsl(0, 0%, 100%);
}
.footname{
  color: hsl(215, 51%, 70%);
}
